---
http_interactions:
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?series_id=UNRATE&api_key=<FRED_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","observation_start":"1776-07-04","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":919,"offset":0,"limit":100000,"observations":{"observation":[{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"1948-01-01","value":"3.4"},{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"1948-02-01","value":"3.8"},{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"1948-03-01","value":"4.0"},{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"1948-04-01","value":"3.9"},{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"1948-05-01","value":"3.5"},{"realtime_start":"2026-08-28","realtime_end":"2026-08-28","date":"2019-12-01","value":"3.5"},{"realtime_start":"2026[...]
